{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": ["react", "jsx-a11y", "import"],
    "globals": {
      "localStorage": true,
      "document": true,
      "window": true
    },
    "env": {
      "jasmine": true
    },
    "rules": {
      "react/jsx-filename-extension": [
        1,
        {
          "extensions": [".js", ".jsx"]
        }
      ]
    }
  }
  